$font-family: 'Roboto', sans-serif;
$body-bg: #fff;
$text-color: #060b35;
$muted-color: #616070;
$card-bg: #fff;
$border-color: #f3f3f3;
$primary-color: #00acdc;
$radius: 5px;
$card-width: 200px;
$star-size: 16px;
